:root {
    --onyx: #0c110c;
    --brightSnow: #F9F9F9;
    --dustyOlive: rgb(119, 136, 91);
    --softLinen: #D2DBCB;
    --softLinenHover: #a8b0a1;
    --tan: #E0BE90;
    --khakiBeige: #CAB79E;
    --khakiBeigeHover: rgb(152, 139, 121);
    --almondCream: #ECDBC5;
    --seasShell: #FFEFE5;
}
