@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300..700&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

@media (min-width: 768px) {
	html, body {
		font-size: 18px;
	}
}

body {
	font-family: "Cormorant Garamond", serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-optical-sizing: auto;
	font-style: normal;
}


input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}